In [25]:
import pandas as pd
import sys
import csv
maxInt = sys.maxsize

while True:
    # decrease the maxInt value by factor 10
    # as long as the OverflowError occurs.

    try:
        csv.field_size_limit(maxInt)
        break
    except OverflowError:
        maxInt = int(maxInt/10)

In [26]:
cfd_df = pd.read_csv('CFD/cdf_chunk_cnt3_造.csv', chunksize=10000, delimiter='造', engine='python',error_bad_lines=False, quoting=3, encoding='utf-8')

/tmp/ipykernel_31155/4186414312.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  cfd_df = pd.read_csv('CFD/cdf_chunk_cnt3_造.csv', chunksize=10000, delimiter='造', engine='python',error_bad_lines=False, quoting=3, encoding='utf-8')

In [27]:
def concat_to_df(df):
    df_temp = []
    cnt = 0
    for chunk in df:
        if cnt < 3:
            df_temp.append(chunk)
            cnt+=1
        else: break
    df = pd.concat(df_temp, ignore_index=True)
    return df

In [28]:
cfd_df = concat_to_df(cfd_df)
print("cfd_df - Total rows before removing NaN", cfd_df.shape)

cfd_df - Total rows before removing NaN (25367, 10)

In [29]:
print("Column -- value")
# iterate through the columns of the DataFrame
for col in cfd_df.columns:
    # access the value in the first row of each column
    value = cfd_df.loc[1, col]
    print(f"Value in column '{col}' and first row: {value}")

Column -- value
Value in column 'Unnamed: 0.1' and first row:    Copyright (C) 1995, 1996, 1997, 1998, 1999 Free Software Foundation, Inc.
Value in column 'Unnamed: 0' and first row: None
Value in column 'cve_id' and first row: None
Value in column 'code_before' and first row: None
Value in column 'code_after' and first row: None
Value in column 'programming_language' and first row: None
Value in column 'cwe_id' and first row: nan
Value in column 'is_category' and first row: nan
Value in column 'cwe_name' and first row: nan
Value in column 'code' and first row: nan

In [30]:
print("cfd_df - DataFrame Head")
cfd_df.head(5)

cfd_df - DataFrame Head

,Unnamed: 0.1,Unnamed: 0,cve_id,code_before,code_after,programming_language,cwe_id,is_category,cwe_name,code
0,0,0,CVE-1999-0199,"""/* Map in a shared object's segments from the...",None,None,NaN,NaN,NaN,NaN
1,"Copyright (C) 1995, 1996, 1997, 1998, 1999 ...",None,None,None,None,None,NaN,NaN,NaN,NaN
2,This file is part of the GNU C Library.,None,None,None,None,None,NaN,NaN,NaN,NaN
3,The GNU C Library is free software; you can...,None,None,None,None,None,NaN,NaN,NaN,NaN
4,modify it under the terms of the GNU Librar...,None,None,None,None,None,NaN,NaN,NaN,NaN

In [31]:
# drop rows where column contains NaN values
cfd_df = cfd_df.dropna(subset=['cwe_id'])
print("Total rows after removing NaN in CWE ID", cfd_df.shape)

Total rows after removing NaN in CWE ID (0, 10)

In [32]:
cfd_df = cfd_df.dropna(subset=['code_before'])
print("Total rows after removing NaN in code_before", cfd_df.shape)

Total rows after removing NaN in code_before (0, 10)

In [33]:
print("DataFrame Head")
cfd_df.head(5)

DataFrame Head

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, cve_id, code_before, code_after, programming_language, cwe_id, is_category, cwe_name, code]
Index: []

In [34]:
df = pd.read_csv('CFD/CFD_.csv', chunksize=10000, engine='python',error_bad_lines=False, quoting=3, encoding='utf-8')

/tmp/ipykernel_31155/2640914786.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('CFD/CFD_.csv', chunksize=10000, engine='python',error_bad_lines=False, quoting=3, encoding='utf-8')

In [35]:
df = concat_to_df(df)
print("df -Total rows before removing NaN", df.shape)

df -Total rows before removing NaN (25367, 9)

In [37]:
print("df - DataFrame Head")
df.head(5)

df - DataFrame Head

,Unnamed: 0,cve_id,code_before,code_after,programming_language,cwe_id,is_category,cwe_name,code
0,0,CVE-1999-0199,"""/* Map in a shared object's segments from the...",None,None,None,None,None,NaN
1,Copyright (C) 1995,1996,1997,1998,1999 Free Software Foundation,Inc.,None,None,NaN
2,This file is part of the GNU C Library.,None,None,None,None,None,None,None,NaN
3,The GNU C Library is free software; you can...,None,None,None,None,None,None,None,NaN
4,modify it under the terms of the GNU Librar...,None,None,None,None,None,None,None,NaN