In [1]:
import pandas as pd
import hashlib
import json
import networkx as nx
import os

In [2]:
cvefixes = pd.read_csv("CVEfixes/CVEfixes_new.csv")
msr = pd.read_csv("Bigvul/MSR.csv")

# Load the JSON file representing the hierarchical structure
with open("preprocessed_datasets/debug_datasets/graph_all_paths.json", "r") as json_file:
    cwe_paths = json.load(json_file)

In [3]:
cwe_paths

{'0': ['10000-0'],
 '20': ['10000-1000-707-20'],
 '22': ['10000-1000-664-706-22'],
 '23': ['10000-1000-664-706-22-23'],
 '27': ['10000-1000-664-706-22-23-27'],
 '59': ['10000-1000-664-706-59'],
 '73': ['10000-1000-664-669-642-73', '10000-1000-664-610-73'],
 '74': ['10000-1000-707-74'],
 '77': ['10000-1000-707-74-77'],
 '78': ['10000-1000-707-74-77-78'],
 '79': ['10000-1000-707-74-79'],
 '80': ['10000-1000-707-74-79-80'],
 '88': ['10000-1000-707-74-77-88'],
 '89': ['10000-1000-707-74-943-89'],
 '90': ['10000-1000-707-74-943-90'],
 '91': ['10000-1000-707-74-91'],
 '93': ['10000-1000-707-74-93'],
 '94': ['10000-1000-707-74-94', '10000-1000-664-913-94'],
 '98': ['10000-1000-664-706-98', '10000-1000-664-669-829-98'],
 '113': ['10000-1000-707-74-93-113', '10000-1000-435-436-113'],
 '116': ['10000-1000-707-116'],
 '119': ['10000-1000-664-118-119'],
 '120': ['10000-1000-664-118-119-120'],
 '121': ['10000-1000-664-118-119-787-121', '10000-1000-664-118-119-788-121'],
 '122': ['10000-1000-664-118-119-787-122', '10000-1000-664-118-119-788-122'],
 '125': ['10000-1000-664-118-119-125'],
 '126': ['10000-1000-664-118-119-125-126', '10000-1000-664-118-119-788-126'],
 '129': ['10000-1000-707-20-1285-129'],
 '131': ['10000-1000-682-131'],
 '134': ['10000-1000-664-668-134'],
 '172': ['10000-1000-707-172'],
 '178': ['10000-1000-664-706-178'],
 '184': ['10000-1000-693-184', '10000-1000-697-1023-184'],
 '185': ['10000-1000-697-185'],
 '190': ['10000-1000-682-190'],
 '191': ['10000-1000-682-191'],
 '193': ['10000-1000-682-193'],
 '200': ['10000-1000-664-668-200'],
 '203': ['10000-1000-664-668-200-203'],
 '208': ['10000-1000-664-668-200-203-208'],
 '209': ['10000-1000-664-668-200-209', '10000-1000-703-755-209'],
 '212': ['10000-1000-664-669-212'],
 '241': ['10000-1000-703-228-241'],
 '252': ['10000-1000-703-754-252'],
 '269': ['10000-1000-284-269'],
 '273': ['10000-1000-284-269-271-273', '10000-1000-703-754-273'],
 '276': ['10000-1000-664-668-732-276'],
 '277': ['10000-1000-664-668-732-277'],
 '281': ['10000-1000-664-668-732-281'],
 '284': ['10000-1000-284'],
 '285': ['10000-1000-284-285'],
 '287': ['10000-1000-284-287'],
 '290': ['10000-1000-284-287-1390-290'],
 '294': ['10000-1000-284-287-1390-294'],
 '295': ['10000-1000-284-287-295'],
 '297': ['10000-1000-284-287-295-297'],
 '303': ['10000-1000-284-287-1390-303'],
 '304': ['10000-1000-284-287-1390-303-304', '10000-1000-710-573-304'],
 '305': ['10000-1000-284-287-1390-305'],
 '306': ['10000-1000-284-287-306'],
 '307': ['10000-1000-691-799-307', '10000-1000-284-287-1390-307'],
 '311': ['10000-1000-693-311'],
 '312': ['10000-1000-693-311-312'],
 '319': ['10000-1000-693-311-319'],
 '321': ['10000-1000-693-330-344-798-321'],
 '326': ['10000-1000-693-326'],
 '327': ['10000-1000-693-327'],
 '328': ['10000-1000-693-326-328', '10000-1000-693-327-328'],
 '330': ['10000-1000-693-330'],
 '331': ['10000-1000-693-330-331'],
 '335': ['10000-1000-693-330-335'],
 '338': ['10000-1000-693-330-338'],
 '345': ['10000-1000-693-345'],
 '346': ['10000-1000-693-345-346'],
 '347': ['10000-1000-693-345-347'],
 '352': ['10000-1000-693-345-352'],
 '354': ['10000-1000-693-345-354', '10000-1000-703-754-354'],
 '358': ['10000-1000-710-573-358', '10000-1000-693-358'],
 '359': ['10000-1000-664-668-200-359'],
 '362': ['10000-1000-691-362'],
 '367': ['10000-1000-691-367'],
 '369': ['10000-1000-682-369'],
 '378': ['10000-1000-664-668-377-378'],
 '379': ['10000-1000-664-668-377-379'],
 '384': ['10000-1000-664-610-384'],
 '400': ['10000-1000-664-400'],
 '401': ['10000-1000-664-404-772-401'],
 '404': ['10000-1000-664-404'],
 '415': ['10000-1000-664-666-415'],
 '416': ['10000-1000-664-118-119-825-416'],
 '425': ['10000-1000-284-287-306-288-425', '10000-1000-284-285-862-425'],
 '426': ['10000-1000-664-673-426', '10000-1000-664-668-642-426'],
 '427': ['10000-1000-664-668-427'],
 '428': ['10000-1000-664-668-428'],
 '434': ['10000-1000-664-669-434'],
 '436': ['10000-1000-435-436'],
 '444': ['10000-1000-435-436-444'],
 '457': ['10000-1000-664-665-908-457'],
 '459': ['10000-1000-664-404-459'],
 '470': ['10000-1000-664-610-470', '10000-1000-664-913-470'],
 '475': ['10000-1000-710-573-475'],
 '476': ['10000-1000-710-476', '10000-1000-703-754-476'],
 '494': ['10000-1000-664-669-494'],
 '502': ['10000-1000-664-913-502'],
 '521': ['10000-1000-284-287-1390-1391-521'],
 '522': ['10000-1000-664-668-522', '10000-1000-284-287-1390-522'],
 '532': ['10000-1000-664-668-200-538-532'],
 '538': ['10000-1000-664-668-200-538'],
 '552': ['10000-1000-284-285-552', '10000-1000-664-668-552'],
 '565': ['10000-1000-664-668-642-565', '10000-1000-693-602-565'],
 '601': ['10000-1000-664-610-601'],
 '610': ['10000-1000-664-610'],
 '611': ['10000-1000-664-610-611'],
 '613': ['10000-1000-664-666-672-613'],
 '617': ['10000-1000-691-670-617'],
 '639': ['10000-1000-664-706-66-639'],
 '640': ['10000-1000-284-287-1390-640'],
 '644': ['10000-1000-707-116-644'],
 '662': ['10000-1000-664-662', '10000-1000-691-662'],
 '664': ['10000-1000-664'],
 '665': ['10000-1000-664-665'],
 '667': ['10000-1000-691-662-667'],
 '668': ['10000-1000-664-668'],
 '670': ['10000-1000-691-670'],
 '672': ['10000-1000-664-666-672'],
 '674': ['10000-1000-691-834-674'],
 '681': ['10000-1000-664-704-681'],
 '682': ['10000-1000-682'],
 '684': ['10000-1000-710-684'],
 '693': ['10000-1000-693'],
 '697': ['10000-1000-697'],
 '704': ['10000-1000-664-704'],
 '706': ['10000-1000-664-706'],
 '732': ['10000-1000-284-285-732', '10000-1000-664-668-732'],
 '754': ['10000-1000-703-754'],
 '755': ['10000-1000-703-755'],
 '759': ['10000-1000-693-326-328-916-759', '10000-1000-693-327-328-916-759'],
 '763': ['10000-1000-664-404-763'],
 '770': ['10000-1000-664-400-770', '10000-1000-664-665-770'],
 '772': ['10000-1000-664-404-772'],
 '774': ['10000-1000-664-400-770-774'],
 '776': ['10000-1000-691-834-674-776', '10000-1000-664-400-405-776'],
 '786': ['10000-1000-664-118-119-786'],
 '787': ['10000-1000-664-118-119-787'],
 '788': ['10000-1000-664-118-119-788'],
 '798': ['10000-1000-693-330-344-798'],
 '805': ['10000-1000-664-118-119-805'],
 '823': ['10000-1000-664-118-119-823'],
 '824': ['10000-1000-664-118-119-824'],
 '825': ['10000-1000-664-118-119-825', '10000-1000-664-666-672-825'],
 '829': ['10000-1000-664-449-829'],
 '834': ['10000-1000-691-834'],
 '835': ['10000-1000-691-834-835'],
 '843': ['10000-1000-664-704-843'],
 '862': ['10000-1000-284-285-862'],
 '863': ['10000-1000-284-285-863'],
 '908': ['10000-1000-664-665-908'],
 '909': ['10000-1000-664-665-909'],
 '913': ['10000-1000-664-913'],
 '915': ['10000-1000-664-913-915'],
 '916': ['10000-1000-666-672-825-916'],
 '918': ['10000-1000-664-610-441-918'],
 '922': ['10000-1000-664-922'],
 '924': ['10000-1000-693-345-924'],
 '943': ['10000-1000-707-74-943'],
 '1021': ['10000-1000-664-610-441-1021', '10000-1000-664-221-452-1021'],
 '1188': ['10000-1000-664-665-1188'],
 '1236': ['10000-1000-707-74-1236'],
 '1321': ['10000-1000-664-913-915-1321'],
 '1333': ['10000-1000-664-400-405-407-1333'],
 '1336': ['10000-1000-664-913-914-1336']}

In [4]:
filtered_df = cvefixes[cvefixes.isna().any(axis=1)]
print(filtered_df.shape)
filtered_df.isna().sum() # 20 nan in code, 20 nan in all other cols

(40, 4)

code      20
cwe_id    20
cve_id    20
vul       20
dtype: int64

In [5]:
cvefixes = cvefixes.dropna()
print(cvefixes.isna().sum())
cvefixes['cwe_id'] = cvefixes['cwe_id'].astype(int)
cvefixes['vul'] = cvefixes['vul'].astype(int)
cvefixes.head(5)

code      0
cwe_id    0
cve_id    0
vul       0
dtype: int64

,code,cwe_id,cve_id,vul
0,expand_dynamic_string_token (struct link_map *...,252,CVE-1999-0199,1
1,"_dl_dst_substitute (struct link_map *l, const ...",252,CVE-1999-0199,1
2,"_dl_dst_count (const char *name, int is_path)\...",252,CVE-1999-0199,1
3,"vsyslog(pri, fmt, ap)\n\tint pri;\n\tregister ...",252,CVE-1999-0199,1
4,init_syntax_once ()\n{\n register int c;\n ...,252,CVE-1999-0199,1

In [6]:
msr = msr.dropna()
msr.drop(columns=['Unnamed: 0'], inplace=True) 
msr.head(5)

,code,cwe_id,cve_id,vul
0,static PHP_FUNCTION(preg_match)\n{\n\tphp_do_p...,119,CVE-2015-8382,0
1,static PHP_FUNCTION(preg_match_all)\n{\n\tphp_...,119,CVE-2015-8382,0
2,static PHP_FUNCTION(preg_replace)\n{\n\tpreg_r...,119,CVE-2015-8382,0
3,static PHP_FUNCTION(preg_replace_callback)\n{\...,119,CVE-2015-8382,0
4,static PHP_FUNCTION(preg_filter)\n{\n\tpreg_re...,119,CVE-2015-8382,0

In [7]:
# Add hash column for code, to check for uniqueness
cvefixes['code.digest'] = cvefixes['code'].apply(lambda x: hashlib.sha1(x.encode()).hexdigest())
msr['code.digest'] = msr['code'].apply(lambda x: hashlib.sha1(x.encode()).hexdigest())

# # Remove code column
# cvefixes.drop(columns=['code'], inplace=True)
# msr.drop(columns=['code'], inplace=True)

# Combine datasets
alltbl = pd.concat([cvefixes, msr]).drop_duplicates()

alltbl['classpath'] = alltbl['cwe_id'].astype(str).map(cwe_paths)
alltbl['cwe_id'] = alltbl['cwe_id'].astype(int)
alltbl

,code,cwe_id,cve_id,vul,code.digest,classpath
0,expand_dynamic_string_token (struct link_map *...,252,CVE-1999-0199,1,5dfc31742fe5030464ddc789a8e939599bbab1a4,[10000-1000-703-754-252]
1,"_dl_dst_substitute (struct link_map *l, const ...",252,CVE-1999-0199,1,80ed4967cd5e6575ea7f9b0b471dc512be5cad41,[10000-1000-703-754-252]
2,"_dl_dst_count (const char *name, int is_path)\...",252,CVE-1999-0199,1,bdded5aedc003abdaca0471fb4a2dd9070f8a919,[10000-1000-703-754-252]
3,"vsyslog(pri, fmt, ap)\n\tint pri;\n\tregister ...",252,CVE-1999-0199,1,402d73979bf2a32ea656a71b93a912c7027a389c,[10000-1000-703-754-252]
4,init_syntax_once ()\n{\n register int c;\n ...,252,CVE-1999-0199,1,eb7ca045e999b9b6d086171176fa9b92d214bad8,[10000-1000-703-754-252]
...,...,...,...,...,...,...
145738,void impeg2d_dec_p_mb_params(dec_state_t *ps_d...,119,CVE-2016-0835,1,6b7fad7b957c6e130245163cbb07cc6df3863bdf,[10000-1000-664-118-119]
145739,void impeg2d_dec_pnb_mb_params(dec_state_t *ps...,119,CVE-2016-0835,1,fcdbb0685326dcd81cdb6f027cc61de89674b089,[10000-1000-664-118-119]
145740,int equalizer_get_parameter(effect_context_t *...,200,CVE-2017-0402,1,a792513015548d99e3d8b8d5600f843665711434,[10000-1000-664-668-200]
145741,"uint8_t rfc_parse_data(tRFC_MCB* p_mcb, MX_FRA...",125,CVE-2018-9503,1,4c73479fff542238b2861c96bac10887e973a4fa,[10000-1000-664-118-119-125]
145742,"uint8_t rfc_parse_data(tRFC_MCB* p_mcb, MX_FRA...",125,CVE-2018-9503,1,f5f9a2b5182681b40cf22a7d14e0c19e7e31642d,[10000-1000-664-118-119-125]

In [8]:

# statistics about codes in the same cve_id that are vulnerable and have different cwe_ids assigned
grouped = alltbl[alltbl['cwe_id'] != 0].groupby(['cve_id', 'code.digest'])['cwe_id'].agg([('cwe_id_count', 'nunique'), ('cwe_ids', lambda x: sorted(list(x.unique())))])

filtered = grouped[grouped['cwe_id_count'] > 1].reset_index()

print(filtered['cwe_ids'].value_counts().to_string())

[125, 787]         314
[190, 787]          39
[362, 416]          25
[119, 787]          20
[378, 379]          16
[22, 78, 918]       15
[20, 918]           15
[285, 346]          12
[20, 346]           11
[470, 502]          11
[119, 805]          10
[119, 788]          10
[20, 476]            9
[79, 352]            7
[191, 787]           7
[193, 787]           6
[416, 476]           6
[59, 362]            5
[125, 776]           5
[119, 200]           5
[125, 416, 787]      5
[119, 825]           4
[362, 416, 476]      4
[682, 787]           4
[252, 401]           4
[119, 190]           4
[20, 94]             4
[287, 303]           4
[20, 617]            4
[120, 362]           3
[125, 476]           3
[459, 909]           3
[74, 277]            3
[200, 416]           3
[122, 787]           3
[754, 863, 908]      2
[125, 362]           2
[74, 79]             2
[20, 787]            2
[295, 297]           2
[190, 401]           2
[79, 434]            2
[601, 918]           2
[120, 122]           2
[190, 835]           2
[287, 613]           2
[122, 457]           2
[20, 125, 787]       2
[22, 23]             2
[20, 644]            2
[79, 1321]           1
[378, 379, 668]      1
[78, 88]             1
[20, 475]            1
[476, 908]           1
[674, 835]           1
[476, 787]           1
[22, 27]             1
[79, 116]            1
[120, 121]           1
[89, 287]            1
[327, 328, 916]      1
[119, 786]           1
[91, 116]            1
[476, 617]           1
[611, 918]           1
[78, 755]            1
[295, 908]           1
[200, 362]           1
[125, 200]           1
[284, 476]           1
[119, 284]           1
[89, 200]            1
[119, 125]           1
[362, 415]           1
[125, 193]           1
[362, 617]           1
[20, 119]            1
[190, 667]           1
[190, 369]           1
[362, 476]           1
[681, 787]           1
[476, 754]           1
[79, 89]             1
[668, 862]           1
[20, 79]             1
[125, 190]           1
[502, 787]           1
[352, 843]           1
[131, 835]           1
[908, 909]           1
[476, 617, 754]      1
[203, 208]           1
[287, 755]           1
[362, 665]           1
[98, 829]            1
[73, 610]            1
[285, 863]           1

In [9]:
# Create a DataFrame with counts for each cwe_id
cwecounts = alltbl.groupby('cwe_id').size().reset_index(name='count')
print(cwecounts.to_string())

     cwe_id  count
0         0  59109
1        20  23049
2        22   1440
3        23      2
4        27      1
5        59   1169
6        73     12
7        74    850
8        77    309
9        78    751
10       79   3977
11       80      1
12       88     78
13       89   7111
14       90     22
15       91     45
16       93   2349
17       94    640
18       98      1
19      113      1
20      116     23
21      119  27331
22      120    341
23      121      5
24      122     53
25      125   9351
26      126      5
27      129    293
28      131      8
29      134    675
30      172     28
31      178      6
32      184      1
33      185      2
34      190   4187
35      191    100
36      193     13
37      200   9134
38      203     29
39      208      1
40      209      4
41      212      5
42      241      7
43      252     24
44      269    995
45      273      3
46      276     40
47      277      3
48      281     57
49      284   2467
50      285    488
51      287    844
52      290     86
53      294     12
54      295    217
55      297      2
56      303      4
57      304      1
58      305      5
59      306     31
60      307     19
61      311    276
62      312     22
63      319     10
64      321      1
65      326     27
66      327     54
67      328      1
68      330    135
69      331      7
70      335      2
71      338      5
72      345     35
73      346    126
74      347    133
75      352    570
76      354     38
77      358     85
78      359      4
79      362   6322
80      367     12
81      369    785
82      378     17
83      379     17
84      384    180
85      400   2067
86      401     85
87      404    926
88      415   1111
89      416  10115
90      425      1
91      426     38
92      427      5
93      428      2
94      434     89
95      436    102
96      444    146
97      457      3
98      459      3
99      470     11
100     475      3
101     476   4973
102     494     55
103     502    454
104     521     25
105     522     14
106     532    105
107     538      1
108     552      3
109     565      3
110     601    262
111     610     19
112     611    609
113     613    244
114     617   1115
115     639    433
116     640     39
117     644      2
118     662      9
119     664     17
120     665     52
121     667     11
122     668     76
123     670     18
124     672     10
125     674    124
126     681     13
127     682     79
128     684      4
129     693     38
130     697     11
131     704    916
132     706     20
133     732   1547
134     754    408
135     755     55
136     759      5
137     763     49
138     770    156
139     772   1257
140     774      3
141     776      5
142     786      1
143     787   3932
144     788     10
145     798     24
146     805     11
147     823      3
148     824     21
149     825      4
150     829      5
151     834    338
152     835    934
153     843     30
154     862    187
155     863    248
156     908     31
157     909     56
158     913     11
159     915     62
160     916      3
161     918    561
162     922      1
163     924      4
164     943      1
165    1021     64
166    1188      2
167    1236     44
168    1321     43
169    1333      5
170    1336      2

In [10]:
def create_graph_from_json(paths_dict_data, max_depth=None):
    
    G = nx.DiGraph()

    def add_path_to_graph(path):
        nodes = list(map(int, path.split('-')))
        if max_depth:
            max_level = min(max_depth, len(nodes) - 1)
            for i in range(max_level):
                G.add_edge(nodes[i], nodes[i+1])
        else:
            for i in range(len(nodes) - 1):
                G.add_edge(nodes[i], nodes[i+1])

    # Add edges from the paths in the JSON data
    for key, paths_list in paths_dict_data.items():
        for path in paths_list:
            add_path_to_graph(path)
            
    return G

graph = create_graph_from_json(cwe_paths)
node_list = list(graph.nodes)

In [11]:
# for reassignment, we are going to use a tree.
# if a node has multiple predecessors, we choose the predecessor with more items in the dataset.

def choose_favorite_parent(node):
    parents = list(graph.predecessors(node))
    if len(parents) == 1:
        return parents[0]
    num_parent_samples = list()
    for p in parents:
        parent_family = nx.ancestors(graph, p) - set.union(*(nx.ancestors(graph, otherp) for otherp in parents if otherp != p))
        if parent_family:
            parent_descendants = set.union(*(nx.descendants(graph, x) for x in parent_family)).union(parent_family)
        else:
            parent_descendants = parent_family
        num_parent_samples.append(
            cwecounts[cwecounts['cwe_id'].isin(parent_descendants)]['count'].sum()
        )
    return(parents[num_parent_samples.index(max(num_parent_samples))])

graph_unique = nx.DiGraph()
for node in list(nx.topological_sort(graph))[1:]:
    graph_unique.add_edge(choose_favorite_parent(node), node)

In [12]:
def splitclass(df, split_class):
    df = df.copy()
    results = [df.loc[df['assignedclass'] != split_class]]  # items that are not touched
    split_into = set(graph_unique.neighbors(split_class))
    for cwe_id in df.loc[df['assignedclass'] == split_class]['cwe_id']:
        new_assignedclasses = split_into.intersection(
            nx.ancestors(graph_unique, cwe_id).union({cwe_id})
        )
        if not new_assignedclasses:
            # no children to split into -> don't split
            new_assignedclasses = {split_class}
        for ac in new_assignedclasses: # could be multiple
            newline = df.loc[(df['cwe_id'] == cwe_id) & (df['assignedclass'] == split_class)].copy()
            newline['assignedclass'] = ac
            results.append(newline)
    return pd.concat(results).drop_duplicates()

In [13]:
# cweiter = cwecounts.copy()
# cweiter['assignedclass'] = 10000
# cweiter = cweiter[:7]

In [14]:
# print(cweiter)

In [15]:
# cweiter = splitclass(cweiter, 706)
# print(cweiter)

In [16]:
# cutoff = 1000
# get_worth_splitting(cweiter,cutoff)

In [17]:
def check_worth_splitting(df, split_class, cutoff):
    num_above_cutoff = sum(df.loc[df['assignedclass'] == split_class]['count'] >= cutoff)
    return num_above_cutoff > 1

In [18]:
def get_worth_splitting(df, cutoff):
    return [x for x in set(df['assignedclass']) if check_worth_splitting(df, x, cutoff)]

In [19]:
cutoff = 1000 #################################################

In [20]:
cweiter = cwecounts.copy()
cweiter['assignedclass'] = 10000
while True:
    splitting = get_worth_splitting(cweiter, cutoff)
    if not splitting:
        break
    cweiter = splitclass(cweiter, splitting[0])

manual_classes = [284]
for manual_cwe in manual_classes:
    cweiter = splitclass(cweiter, manual_cwe)

In [21]:
cweiter

     cwe_id  count  assignedclass
0         0  59109              0
28      131      8            682
32      184      1            697
33      185      2            697
34      190   4187            682
..      ...    ...            ...
90      425      1            285
104     521     25            287
116     640     39            287
154     862    187            285
155     863    248            285

[171 rows x 3 columns]

In [22]:
len(cweiter['cwe_id'].unique())

171

In [23]:
len(cweiter)

171

In [24]:
check = cweiter.copy()
check = check[check['assignedclass']==284]

In [25]:
print(splitclass(check, 284).to_string())

    cwe_id  count  assignedclass
49     284   2467            284

In [26]:
check2 = cweiter.copy()
check2 = check2[check2['assignedclass']==404]
print(splitclass(check2, 404).to_string())

     cwe_id  count  assignedclass
86      401     85            772
87      404    926            404
98      459      3            459
137     763     49            763
139     772   1257            772

In [27]:
cweiter.sort_values('assignedclass')

     cwe_id  count  assignedclass
0         0  59109              0
27      129    293             20
1        20  23049             20
3        23      2             22
4        27      1             22
..      ...    ...            ...
162     922      1            922
13       89   7111            943
14       90     22            943
164     943      1            943
167    1236     44           1236

[171 rows x 3 columns]

In [28]:
print(cweiter.sort_values('assignedclass').to_string())
# 284, 404

     cwe_id  count  assignedclass
0         0  59109              0
27      129    293             20
1        20  23049             20
3        23      2             22
4        27      1             22
2        22   1440             22
5        59   1169             59
115     639    433             66
7        74    850             74
12       88     78             77
9        78    751             77
8        77    309             77
11       80      1             79
10       79   3977             79
15       91     45             91
16       93   2349             93
19      113      1             93
20      116     23            116
117     644      2            116
21      119  27331            119
22      120    341            120
25      125   9351            125
26      126      5            125
29      134    675            134
30      172     28            172
31      178      6            178
39      208      1            200
40      209      4            200
37      200   9134            200
38      203     29            200
78      359      4            200
106     532    105            200
107     538      1            200
44      269    995            269
45      273      3            269
49      284   2467            284
50      285    488            285
90      425      1            285
154     862    187            285
155     863    248            285
55      297      2            287
116     640     39            287
104     521     25            287
51      287    844            287
59      306     31            287
58      305      5            287
57      304      1            287
56      303      4            287
52      290     86            287
54      295    217            287
53      294     12            287
79      362   6322            362
80      367     12            367
83      379     17            377
82      378     17            377
85      400   2067            400
138     770    156            400
140     774      3            400
141     776      5            400
169    1333      5            400
98      459      3            404
137     763     49            404
86      401     85            404
139     772   1257            404
87      404    926            404
92      427      5            427
93      428      2            428
96      444    146            435
95      436    102            435
105     522     14            522
108     552      3            552
161     918    561            610
112     611    609            610
110     601    262            610
111     610     19            610
99      470     11            610
84      384    180            610
165    1021     64            610
118     662      9            662
121     667     11            662
119     664     17            664
166    1188      2            665
156     908     31            665
120     665     52            665
97      457      3            665
157     909     56            665
113     613    244            666
124     672     10            666
88      415   1111            666
122     668     76            668
91      426     38            669
150     829      5            669
6        73     12            669
94      434     89            669
102     494     55            669
109     565      3            669
18       98      1            669
41      212      5            669
114     617   1115            670
123     670     18            670
36      193     13            682
81      369    785            682
127     682     79            682
35      191    100            682
34      190   4187            682
28      131      8            682
67      328      1            693
62      312     22            693
66      327     54            693
65      326     27            693
68      330    135            693
69      331      7            693
64      321      1            693
61      311    276            693
63      319     10            693
145     798     24            693
73      346    126            693
70      335      2            693
71      338      5            693
72      345     35            693
129     693     38            693
163     924      4            693
74      347    133            693
75      352    570            693
130     697     11            697
33      185      2            697
32      184      1            697
76      354     38            703
101     476   4973            703
43      252     24            703
134     754    408            703
135     755     55            703
42      241      7            703
126     681     13            704
153     843     30            704
131     704    916            704
132     706     20            706
77      358     85            710
128     684      4            710
100     475      3            710
48      281     57            732
47      277      3            732
46      276     40            732
133     732   1547            732
142     786      1            786
23      121      5            787
143     787   3932            787
24      122     53            787
144     788     10            788
60      307     19            799
146     805     11            805
147     823      3            823
148     824     21            824
89      416  10115            825
160     916      3            825
136     759      5            825
149     825      4            825
151     834    338            834
152     835    934            834
125     674    124            834
158     913     11            913
159     915     62            913
170    1336      2            913
17       94    640            913
168    1321     43            913
103     502    454            913
162     922      1            922
13       89   7111            943
14       90     22            943
164     943      1            943
167    1236     44           1236

In [29]:
print(cweiter.groupby('assignedclass')['count'].sum().sort_values(ascending = False).reset_index().to_string())

    assignedclass  count
0               0  59109
1             119  27331
2              20  23342
3             825  10127
4             125   9356
5             200   9278
6             943   7134
7             362   6322
8             703   5505
9             682   5172
10            787   3990
11             79   3978
12            284   2467
13             93   2350
14            404   2320
15            400   2236
16            610   1706
17            732   1647
18            693   1470
19             22   1443
20            834   1396
21            666   1365
22            287   1266
23            913   1212
24             59   1169
25             77   1138
26            670   1133
27            269    998
28            704    959
29            285    924
30             74    850
31            134    675
32             66    433
33            120    341
34            435    248
35            669    208
36            665    144
37            710     92
38            668     76
39             91     45
40           1236     44
41            377     34
42            172     28
43            116     25
44            824     21
45            662     20
46            706     20
47            799     19
48            664     17
49            697     14
50            522     14
51            367     12
52            805     11
53            788     10
54            178      6
55            427      5
56            823      3
57            552      3
58            428      2
59            786      1
60            922      1

In [30]:
cweiter_stat = cweiter.groupby('assignedclass')['count'].sum().sort_values(ascending = False).reset_index()
cweiter_stat

    assignedclass  count
0               0  59109
1             119  27331
2              20  23342
3             825  10127
4             125   9356
..            ...    ...
56            823      3
57            552      3
58            428      2
59            786      1
60            922      1

[61 rows x 2 columns]

In [31]:
cweiter_stat['count'].sum()

201265

In [32]:
cweiter_stat[cweiter_stat['count']>=cutoff]['count'].sum() / cweiter_stat['count'].sum()

0.9686830795220231

In [33]:
cweiter_1000 = cweiter[cweiter['count']>=cutoff]
cweiter_1000.to_csv('preprocessed_datasets/assigined_cwe_cutoff1000.csv')

cweiter_1000

In [42]:
# Merge or join the DataFrames based on cwe_id
def merge_assignclass_and_drop_by_cutoff(df,cweiter,cutoff,output_dir):
    df_reassign = df.merge(cweiter, on='cwe_id', how='left')
    df_reassign = df_reassign.drop('code.digest', axis=1)
    
    df_reassign = df_reassign[df_reassign['count'] >= cutoff]
    
    df_reassign.to_csv(output_dir)
    return df_reassign

In [43]:
CVEfixes_reassign = merge_assignclass_and_drop_by_cutoff(cvefixes,cweiter,cutoff,output_dir='CVEfixes/CVEfixes_reassign.csv')
CVEfixes_reassign

,code,cwe_id,cve_id,vul,count,assignedclass
6,"process_chpw_request(krb5_context context, voi...",20,CVE-2002-2443,1,23049,20
7,"init_ctx_reselect(OM_uint32 *minor_status, spn...",415,CVE-2014-4343,1,1111,666
8,"acc_ctx_cont(OM_uint32 *minstat,\n\t gss_b...",476,CVE-2014-4344,1,4973,703
9,krb5_ldap_get_password_policy_from_dn(krb5_con...,476,CVE-2014-5353,1,4973,703
10,check_rpcsec_auth(struct svc_req *rqstp)\n{\n ...,284,CVE-2014-9422,1,2467,284
...,...,...,...,...,...,...
69164,const delimiter = `ghadelimiter_${uuidv4()...,0,CVE-2022-35954,0,59109,0
69165,private boolean isFileWithinDirectory(\n ...,0,CVE-2022-36007,0,59109,0
69166,func TestNegativePowerLevels(t *testing.T) {\n...,0,CVE-2022-36009,0,59109,0
69167,func NewPowerLevelContentFromEvent(event *Even...,0,CVE-2022-36009,0,59109,0
69168,"static bool w2p(char *ip, char *op) {\n FILE ...",0,CVE-2022-36752,0,59109,0

In [44]:
MSR_reassign = merge_assignclass_and_drop_by_cutoff(msr,cweiter,cutoff,output_dir='Bigvul/MSR_reassign.csv')
MSR_reassign

,code,cwe_id,cve_id,vul,count,assignedclass
0,static PHP_FUNCTION(preg_match)\n{\n\tphp_do_p...,119,CVE-2015-8382,0,27331,119
1,static PHP_FUNCTION(preg_match_all)\n{\n\tphp_...,119,CVE-2015-8382,0,27331,119
2,static PHP_FUNCTION(preg_replace)\n{\n\tpreg_r...,119,CVE-2015-8382,0,27331,119
3,static PHP_FUNCTION(preg_replace_callback)\n{\...,119,CVE-2015-8382,0,27331,119
4,static PHP_FUNCTION(preg_filter)\n{\n\tpreg_re...,119,CVE-2015-8382,0,27331,119
...,...,...,...,...,...,...
133100,void impeg2d_dec_p_mb_params(dec_state_t *ps_d...,119,CVE-2016-0835,1,27331,119
133101,void impeg2d_dec_pnb_mb_params(dec_state_t *ps...,119,CVE-2016-0835,1,27331,119
133102,int equalizer_get_parameter(effect_context_t *...,200,CVE-2017-0402,1,9134,200
133103,"uint8_t rfc_parse_data(tRFC_MCB* p_mcb, MX_FRA...",125,CVE-2018-9503,1,9351,125
133104,"uint8_t rfc_parse_data(tRFC_MCB* p_mcb, MX_FRA...",125,CVE-2018-9503,1,9351,125